
/* jonolist/css/style.css */

@import url('https://api.fontshare.com/css?f[]=tanker@400,700&display=swap');
@import url('https://api.fontshare.com/css?f[]=satoshi@400,700&display=swap');

body {
  font-family: 'Satoshi', Arial, sans-serif;  
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-family: 'Tanker', Impact, serif;
  font-weight: 700;
}

.cursor-pointer {
  cursor: pointer;  
}

[x-cloak] { 
  display: none !important; 
}

/* bootstrap override for sticky table header with responsive table */

.table-responsive {
  min-height: 50vh;
  max-height: 75vh;
  overflow-y: auto;
}

.table-fixed-header thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}